{% extends 'index.html' %}
{% block links %}
<style>
    #pass_change_form{
        display: grid;
        justify-content: center;
        align-items: center;
        height: 90vh;
    }
    .label{
        width: 100px;
    }
    .form_cont{
        margin: auto;
        width: 500px;
    }
</style>
{% endblock links %}
{% block main %}
<div id="pass_change_form" class="m-0 bg-secondary">
    <form class="form_cont row gy-3 bg-light" method="post">
        {% csrf_token %}
        {% if "change_password" in request.path %}            
        <div class="col-12 fs-5 text-uppercase text-center">
            Enter your password to confirm
        </div>
        {% else %}
        <div class="col-12 fs-5 text-uppercase text-center">
            update password
        </div>
        {% endif %}
        <div class="col-12">
            <label for="password1" class="label fw-bold mx-2">Password</label><input type="password" name="password" id="password" class="col-9" />
        </div>
        
        {% if "update_password" in request.path %}        
        <div class="col-12">
            <label for= "conf_password" class="label fw-bold mx-2">Confirm:</label><input type="password" name="conf_password" id="conf_password" class="col-9" />
        </div>
        {% endif %}
            
        <div class="col-12 text-center bg-danger text-light">
            {% for message in messages %}
            
            {% if message %}
            {{message}}
            {% endif %}
                
            {% endfor %}
        </div>
        {% if "change_password" in request.path %}
        <button type="submit" id="form_sub_btn" class="btn btn-success col-9 m-auto my-2">CHECK</button>
        {% else %}
        <button type="submit" id="form_sub_btn" class="btn btn-success col-9 m-auto my-2">UPDATE</button>
        {% endif %}
    </form>
</div>
{% endblock main %}